/*ヘッダーのスタイル*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px 0 17px 0;
  padding-left: 10px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  font-weight: bold;
  color: #263238;
}

/*左アイコンのスタイル*/
.header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left-icon {
  margin-right: 15px;
}
.header-left-search {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.header-left-search a {
  color: #263238;
  text-decoration: none;
}
.header-left-trouble {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.header-left-trouble a {
  color: #1e88e5;
}

/*右アイコンのスタイル*/
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right a {
  text-decoration: none;
  font-weight: bold;
  color: #263238;
}
.header-right-signup,
.header-right-login,
.header-right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-signup-text,
.header-right-login-text,
.header-right-menu-text {
  font-size: 13px;
  white-space: nowrap;
  margin: 0 30px 0 10px;
  text-align: center;
}

/*ログイン画面のスタイル*/
.login {
  background-color: #e5e5e5;
  width: 100%;
  padding-top: 61px;
}
.login-back {
  max-width: 980px;
  margin: 0 auto;
}
.login-text {
  font-weight: bold;
  font-size: 28px;
  color: #2a2e3d;
  padding: 50px 0 38px 0;
}
.login-form {
  background-color: #ffffff;
  display: flex;
  border-radius: 8px;
}

.login-form-left {
  padding: 40px 0 40px 60px;
}
.login-form-left-boader {
  padding: 10px 60px 10px 0;
  border-right: 1px solid #cfd8dc;
}
.login-form-id,
.login-form-pass {
  padding-bottom: 15px;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
}
.login-form-id-input,
.login-form-pass-input {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  padding: 13px 0px;
  margin-top: 13px;
}
.login-form-forgetpass {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 40px;
}
.login-form-forgetpass-text {
  color: #607d8b;
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
}
.login-form-permission {
  text-align: center;
  font-size: 14px;
  width: 60%;
  margin: 0 auto;
}
.login-form-permission a {
  color: #1e88e5;
}
.login-form-agree {
  text-align: center;
  padding-top: 20px;
}
.login-form-agree-button {
  background-color: #f9a406;
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  padding: 15.5px 112px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
.login-form-right {
  padding: 115px 60px 50px;
}
.login-form-facebook_text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #455a64;
  padding-bottom: 89px;
}
.login-form-facebook {
  margin-top: 113px;
}
.login-form-facebook-button {
  background: #546e7a;
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  padding: 15.5px 97.13px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

/*フッターのスタイル*/
.footer {
  background-color: #2a2e3d;
}
.footer-page_return {
  width: 100%;
  background-color: #ffffff;
  padding: 18px 30px 12px 0;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
}
.footer-page_return-text {
  font-size: 14px;
  padding-left: 4px;
}
.footer-bar {
  background-color: #ffc306;
  width: 100%;
  padding-top: 5px;
}
.footer-sns {
  text-align: center;
  padding: 25px 0 29px 0;
}
.footer-sns-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}
.footer-sns-header-icon {
  padding: 0 13px;
}

.footer-help {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-help-item {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1px;
  flex: 1 0 24%;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  color: #ffffff;
}
.footer-info {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.footer-info-item {
  font-size: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 25px;
  white-space: nowrap;
}
.footer-info-item a {
  text-decoration: none;
  color: #ffffff;
}
.footer-info-item:first-child {
  border: none;
}

.footer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 41px;
}

.footer-foot-brand {
  width: 1060px;
  margin: 0 auto;
}

.footer-foot-brand-icon {
  padding-bottom: 10px;
}

.footer-foot-brand-copyright {
  color: #cfd8dc;
  font-size: 12px;
}
.footer-foot-search {
  padding-right: 40px;
}

/* sp用画面 */
@media screen and (max-width: 800px) {
  .header {
    padding: 8px 15px 7px 10px;
  }

  .header-left-search {
    display: none;
  }
  .header-left-trouble {
    display: none;
  }
  .header-right-signup,
  .header-right-login,
  .header-right-menu {
    display: block;
  }
  .header-right-signup-icon,
  .header-right-login-icon,
  .header-right-menu-icon {
    margin: 0 20px;
  }
  .header-right-signup-text,
  .header-right-login-text,
  .header-right-menu-text {
    font-size: 8px;
    margin: 0;
  }

  /*フッターのスタイル*/

  .footer-sns {
    background-color: #2a2e3d;
    text-align: center;
    padding: 23px 0 37px 0;
  }

  .footer-sns-header {
    font-size: 12px;
    padding-bottom: 21px;
  }
  .footer-help {
    font-size: 12px;
    padding-bottom: 24px;
  }

  .footer-help-item {
    flex: 1 0 48%;
  }
  .footer-info {
    flex-wrap: wrap;
    padding-bottom: 48px;
  }

  .footer-info-item {
    font-size: 12px;
    flex: 1 0 40%;
    padding: 0 0 19px 19px;
  }
  .footer-info-item:nth-of-type(3) {
    border: none;
  }
  .footer-foot {
    padding: 0 0 45px 18px;
  }
  .footer-foot-search {
    display: none;
  }
  .footer-foot-brand-copyright {
    font-size: 10px;
  }
}
