/*ヘッダーのスタイル*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px 0 17px 0;
  padding-left: 10px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  font-weight: bold;
  color: #263238;
}

/*左アイコンのスタイル*/
.leftIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin-right: 15px;
}
.search {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.search a {
  color: #263238;
  text-decoration: none;
}
.troubleCompany {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.troubleCompany a {
  color: #1e88e5;
}

/*右アイコンのスタイル*/
.rightIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightIcon a {
  text-decoration: none;
  font-weight: bold;
  color: #263238;
}
.userHelp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  font-size: 13px;
  white-space: nowrap;
  margin: 0 30px 0 10px;
  text-align: center;
}

.dummy {
  width: 100%;
  height: 1500px;
  background-color: black;
}

/*フッターのスタイル*/
.yellowBar {
  background-color: #ffc306;
  width: 100%;
  padding-top: 5px;
}
.snsLink {
  background-color: #2a2e3d;
  text-align: center;
  padding: 25px 0 29px 0;
}
.footerMessage {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}
.snsIcon {
  padding: 0 10px;
}
.wrapper {
  background-color: #2a2e3d;
}
.help {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.guide {
  font-weight: normal;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1px;
  flex: 1 0 24%;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  color: #ffffff;
}
.info {
  background-color: #2a2e3d;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}

.company {
  font-weight: normal;
  font-size: 14px;
  border-left: 1px solid #ffffff;
  padding: 0 13px;
  white-space: nowrap;
}
.company a {
  text-decoration: none;
  color: #ffffff;
}
.company:first-child {
  border: none;
}

.content {
  background-color: #2a2e3d;
  padding-bottom: 41px;
}
.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.footerIcon {
  padding-bottom: 15px;
}

.copyRight {
  color: #cfd8dc;
  font-weight: normal;
  font-size: 12px;
}
/* sp用画面 */
@media screen and (max-width: 800px) {
  header {
    height: auto;
  }

  .search {
    display: none;
  }
  .troubleCompany {
    display: none;
  }
  .userHelp {
    display: block;
    padding: 12px 0 5px 0;
  }
  .signUpIcon {
    margin: 0 20px;
  }
  .loginIcon {
    margin: 0 20px;
  }
  .menuIcon {
    margin: 0 20px;
  }
  .message {
    font-size: 8px;
    margin: 0;
  }

  /*フッターのスタイル*/

  .snsLink {
    background-color: #2a2e3d;
    text-align: center;
    padding: 23px 0 37px 0;
  }

  .footerMessage {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .help {
    font-size: 12px;
    padding-bottom: 27px;
  }

  .guide {
    flex: 1 0 48%;
  }
  .info {
    flex-wrap: wrap;
    padding-bottom: 56px;
  }

  .company {
    font-size: 12px;
    flex: 1 0 40%;
    padding: 0 0 19px 19px;
  }
  .company:nth-of-type(3) {
    border: none;
  }
  .content {
    padding: 0 0 45px 18px;
  }
  .searchIcon {
    display: none;
  }
  .copyRight {
    font-size: 10px;
  }
}
