header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.5%;
  padding-left: 10px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  font-weight: bold;
  color: #263238;
}

/*左アイコンのスタイル*/
.leftIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin-right: 15px;
}
.search {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.search a {
  color: #263238;
  text-decoration: none;
}
.troubleCompany {
  font-size: 14px;
  padding: 0 10px;
  border-left: 1px solid #999;
  white-space: nowrap;
}
.troubleCompany a {
  color: #1e88e5;
}

/*右アイコンのスタイル*/
.rightIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userHelp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 5px; */
}
.userHelp:last-child {
  margin-right: 20px;
}
.userHelp a {
  text-decoration: none;
  color: #263238;
}
/* .signUpIcon {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='22' viewBox='0 0 19 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0489 6.11597H4.39112C4.01112 6.11597 3.67334 6.46797 3.67334 6.86397C3.67334 7.25997 4.01112 7.61197 4.39112 7.61197H10.0911C10.4711 7.61197 10.8089 7.25997 10.8089 6.86397C10.7667 6.46797 10.4711 6.11597 10.0489 6.11597Z' fill='%23263238'/%3E%3Cpath d='M10.7667 11C10.7667 10.604 10.4289 10.252 10.0489 10.252H4.39112C4.01112 10.252 3.67334 10.604 3.67334 11C3.67334 11.396 4.01112 11.748 4.39112 11.748H10.0911C10.4711 11.704 10.7667 11.396 10.7667 11Z' fill='%23263238'/%3E%3Cpath d='M4.39112 14.344C4.01112 14.344 3.67334 14.696 3.67334 15.092C3.67334 15.488 3.9689 15.84 4.39112 15.84H7.55778C7.93778 15.84 8.27556 15.488 8.27556 15.092C8.27556 14.696 7.93778 14.344 7.55778 14.344H4.39112Z' fill='%23263238'/%3E%3Cpath d='M18.5778 2.772C18.5778 1.232 17.3956 0 15.9178 0C14.44 0 13.2578 1.232 13.2578 2.772V17.16C13.2578 17.204 13.2578 17.204 13.2578 17.248C13.2578 17.292 13.2578 17.292 13.2578 17.336C13.2578 17.38 13.2578 17.38 13.2578 17.424C13.2578 17.468 13.2578 17.468 13.3 17.512L15.2845 21.604C15.4111 21.868 15.6645 22 15.9178 22C16.1711 22 16.4245 21.824 16.5511 21.604L18.5356 17.512C18.5356 17.468 18.5356 17.468 18.5778 17.424C18.5778 17.38 18.5778 17.38 18.5778 17.336C18.5778 17.336 18.5778 17.292 18.5778 17.248C18.5778 17.204 18.5778 17.204 18.5778 17.16V2.772ZM15.9178 19.624L14.6511 16.984V2.772C14.6511 2.068 15.2 1.452 15.9178 1.452C16.5934 1.452 17.1845 2.024 17.1845 2.772V16.984L15.9178 19.624Z' fill='%23263238'/%3E%3Cpath d='M11.9489 20.02H1.85778C1.64667 20.02 1.39333 19.712 1.39333 19.272V2.72801C1.39333 2.33201 1.64667 1.98001 1.85778 1.98001H10.4289C10.8089 1.98001 11.1467 1.62801 11.1467 1.23201C11.1467 0.836009 10.8089 0.484009 10.4289 0.484009H1.85778C0.844444 0.528009 0 1.49601 0 2.72801V19.272C0 20.504 0.844444 21.472 1.85778 21.472H11.9489C12.3289 21.472 12.6667 21.12 12.6667 20.724C12.6667 20.328 12.3711 20.02 11.9489 20.02Z' fill='%23263238'/%3E%3C/svg%3E ");
  width: 19px;
  height: 22px;
} */
/* .loginIcon {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3902 11.8H0.750624C0.316052 11.8 0 11.44 0 11.04C0 10.64 0.355559 10.28 0.750624 10.28H8.53341L5.76795 7.48003C5.4519 7.16003 5.4519 6.68003 5.76795 6.40003C6.08401 6.08003 6.55808 6.08003 6.83463 6.40003L10.9038 10.52C11.1013 10.72 11.1804 11.08 11.0618 11.36C10.9828 11.6 10.7063 11.8 10.3902 11.8Z' fill='%23263238'/%3E%3Cpath d='M17.4618 20H9.36293C8.92836 20 8.6123 19.64 8.6123 19.24V16.16C8.6123 15.72 8.96786 15.4 9.36293 15.4C9.75799 15.4 10.1136 15.76 10.1136 16.16V18.48H16.7111V1.52H10.1136V3.84C10.1136 4.28 9.75799 4.6 9.36293 4.6C8.96786 4.6 8.6123 4.24 8.6123 3.84V0.76C8.6123 0.32 8.96786 0 9.36293 0H17.4618C17.8963 0 18.2124 0.36 18.2124 0.76V19.24C18.2519 19.64 17.8963 20 17.4618 20Z' fill='%23263238'/%3E%3C/svg%3E ");
  width: 19px;
  height: 20px;
} */
/* .menuIcon {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4726 14.5533C13.5269 14.5533 10.3091 11.2758 10.3091 7.25712C10.3091 3.27741 13.5269 0 17.4726 0C19.3879 0 21.1884 0.741319 22.5291 2.14592C23.8699 3.51151 24.636 5.3453 24.636 7.29614C24.636 9.24698 23.9082 11.0808 22.5291 12.4464C22.1844 12.7975 21.6481 12.7975 21.3033 12.4464C20.9585 12.0952 20.9585 11.549 21.3033 11.1978C22.3376 10.1444 22.8739 8.77877 22.8739 7.29614C22.8739 5.8135 22.2993 4.44791 21.3033 3.39446C20.269 2.34101 18.9282 1.79477 17.4726 1.79477C14.4846 1.79477 12.0712 4.25283 12.0712 7.29614C12.0712 10.3394 14.4846 12.7975 17.4726 12.7975C17.9323 12.7975 18.4302 12.7195 18.8899 12.6024C19.3496 12.4854 19.8476 12.7585 19.9625 13.2267C20.0775 13.6949 19.8093 14.2021 19.3496 14.3192C18.6984 14.4752 18.0855 14.5533 17.4726 14.5533Z' fill='%23263238'/%3E%3Cpath d='M25.517 16.3871C25.2872 16.3871 25.0574 16.309 24.9041 16.1139L21.2649 12.4073C20.9202 12.0562 20.9202 11.51 21.2649 11.1588C21.6097 10.8077 22.146 10.8077 22.4908 11.1588L26.13 14.8654C26.4747 15.2166 26.4747 15.7628 26.13 16.1139C25.9767 16.309 25.7469 16.3871 25.517 16.3871Z' fill='%23263238'/%3E%3Cpath d='M7.91388 9.5H0.922477C0.436963 9.5 0 9.1625 0 8.75C0 8.3375 0.388412 8 0.922477 8H7.91388C8.3994 8 8.83636 8.3375 8.83636 8.75C8.83636 9.1625 8.3994 9.5 7.91388 9.5Z' fill='%23263238'/%3E%3Cpath d='M7.91388 4.5H0.922477C0.436963 4.5 0 4.1625 0 3.75C0 3.3375 0.388411 3 0.922477 3H7.91388C8.3994 3 8.83636 3.3375 8.83636 3.75C8.83636 4.1625 8.3994 4.5 7.91388 4.5Z' fill='%23263238'/%3E%3Cpath d='M17.0468 19.5607H0.766148C0.344766 19.5607 0 19.2095 0 18.7803C0 18.3512 0.344766 18 0.766148 18H17.0468C17.4682 18 17.8129 18.3512 17.8129 18.7803C17.8129 19.2095 17.4682 19.5607 17.0468 19.5607Z' fill='%23263238'/%3E%3Crect y='13' width='10.8' height='1.5' rx='0.75' fill='%23263238'/%3E%3C/svg%3E ");
  width: 26px;
  height: 20px;
} */
.message {
  font-size: 13px;
  padding: 0 30px 0 10px;
  white-space: nowrap;
}

.dummy {
  width: 100%;
  height: 1500px;
  background-color: black;
}

/* sp用画面 */
@media screen and (max-width: 800px) {
  .search {
    display: none;
  }
  .troubleCompany {
    display: none;
  }
  .userHelp {
    display: block;
  }
  .signUpIcon {
    margin: 0 26px;
  }
  .loginIcon {
    margin: 0 23px;
  }
  .menuIcon {
    margin: 0 20px;
  }
  .message {
    font-size: 8px;
    padding: 0 14px;
  }
}
