body {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-weight: bold;
}
.wrap {
  overflow: hidden;
}
/*ヘッダーのスタイル*/
.head-fixed {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.head-bk {
  background-color: #fff;
  width: 100%;
}
.head {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.head-left {
  display: flex;
  align-items: center;
}
.head-left-icon {
  padding-right: 20px;
}

.head-left-search {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #263238;
  white-space: nowrap;
  padding: 0 20px;
  border-left: 1px solid #cfd8dc;
}
.head-left-trouble {
  color: #1e88e5;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 20px;
  border-left: 1px solid #cfd8dc;
}
.head-right {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.head-right-icon {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #263238;
}
.head-right-icon::before {
  padding-right: 8px;
}
.head-right-signup::before {
  content: url(Icon/head_signupIcon.svg);
}
.head-right-login {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-right-login::before {
  content: url(Icon/loginIcon.svg);
}
.head-right-menu {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-right-menu::before {
  content: url(Icon/menuIcon.svg);
}
.dummy {
  background-color: black;
  height: 1000px;
}

.login-container {
  background-color: #eceff1;
  padding: 62px 0 100px;
}
.register-container {
  background-color: #eceff1;
  padding: 62px 0 40px;
}
.login-container-back,
.register-container-back {
  max-width: 980px;
  margin: 0 auto;
}

/*ログイン画面のスタイル*/
.login-title,
.register-title {
  font-weight: bold;
  font-size: 28px;
  color: #2a2e3d;
  padding: 50px 0 38px 0;
  margin: 0;
}
.login-form {
  background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  padding: 50px 60px;
}
.login-form-left {
  display: flex;
  flex-flow: column;
  padding-right: 60px;
  text-align: -webkit-center;
  max-width: 370px;
  width: 100%;
}
.login-form-id {
  margin-bottom: 20px;
}
.login-form-id-text {
  margin: 0 0 6px;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.login-form-pass {
  text-align: left;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.login-form-pass-text {
  margin: 0 0 6px;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
}
.login-form-input {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  width: 94%;
  font-size: 18px;
  padding: 13.5px 10px;
  margin: 0;
}
.login-form-forgetpass {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.login-form-forgetpass-text {
  color: #607d8b;
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
  text-decoration: none;
}
.login-form-permission {
  font-size: 14px;
  margin: 0;
}

.login-form-permission-text {
  color: #1e88e5;
}

.login-form-agree-button {
  background-color: #f9a406;
  border-radius: 60px;
  font-size: 18px;
  height: 60px;
  max-width: 370px;
  color: #ffffff;
  margin: 20px 0 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-form-right {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-left: 60px;
  border-left: 1px solid #cfd8dc;
  text-align: -webkit-center;
  max-width: 370px;
  width: 100%;
}
.login-form-facebook_text {
  font-weight: bold;
  font-size: 18px;
  color: #455a64;
  margin: 0 0 89px;
}
.login-form-facebook_button {
  background-color: #546e7a;
  border-radius: 60px;
  font-size: 18px;
  height: 60px;
  color: #ffffff;
  margin: 101px 0 0;
  max-width: 370px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-beginner {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 22.5%;
  margin: 60px auto auto;
  text-align: -webkit-center;
}
.login-beginner-title {
  font-size: 18px;
  color: #263238;
  margin: 0 0 16px;
}
.login-beginner-signup {
  border-radius: 60px;
  white-space: nowrap;
  height: 50px;
  max-width: 240px;
  font-size: 14px;
  color: #ffffff;
  background-color: #e53935;
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-beginner-signup::before {
  content: url(Icon/signupIcon.svg);
  padding-right: 5px;
}
.login-beginner-signup-option {
  font-size: 10px;
  padding-left: 5px;
}
.login-beginner-signup-item-icon {
  padding-right: 10px;
}
.login-beginner-text {
  color: #607d8b;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.login-beginner-text::after {
  content: url(Icon/arrow.svg);
  padding-left: 5px;
}

/*会員登録のスタイル*/
.register-stepbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 40px 0;
}
.register-stepbar-box {
  padding: 18px;
  text-align: center;
  flex: 1 0 0%;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
/*box方向*/
.box1 {
  color: #ffc306;
  background-color: #546e7a;
  border-radius: 8px 0 0 8px;
}

.box2 {
  color: #ffffff;
  background-color: #607d8b;
  position: relative;
}
.box2::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 25px solid #546e7a;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}
.box2::after {
  content: "";
  border-top: 30px solid transparent;
  border-left: 25px solid #607d8b;
  border-bottom: 30px solid transparent;
  position: absolute;
  right: -25px;
  top: 0;
}

.box3 {
  color: #ffffff;
  background-color: #78909c;
  border-radius: 0 8px 8px 0;
}
.register-input_message {
  font-weight: normal;
  font-size: 16px;
  color: #263238;
  margin: 0 0 25px 0;
}
.register-attention_message {
  color: #455a64;
  margin: 0 0 21px 0;
}
.necessary_message {
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  padding: 3px 9px;
  background-color: #e53935;
  border-radius: 3px;
}
.register-card {
  background-color: #ffffff;
  padding: 50px 60px;
  border-radius: 8px;
}
.card1,
.card2,
.card3 {
  margin-bottom: 30px;
}

.register-card-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.register-card-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.register-card-message {
  font-weight: normal;
  font-size: 16px;
  color: #455a64;
  margin: 0 0 31px 0;
}
.register-card-form-group-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #455a64;
}
#select_year,
#select_month,
#select_day {
  height: 50px;
  padding: 0 18px;
  font-size: 16px;
  color: #263238;
  background-color: #ffffff;
  border: 1px solid #b0bec5;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
}
.register-card-form-group-date-icon::after {
  content: url(Icon/date_select.svg);
}
.register-card-form-group-date {
  display: flex;
  align-items: center;
}
.register-card-form-group-date-item {
  margin: 0 10px;
}
.register-card-form-group-input {
  border: 1px solid #b0bec5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 15px 15px;
  font-size: 16px;
}
.register-card-form-group-gender {
  display: flex;
}
.register-card-form-group-gender-item {
  margin: 0 29px 0 0;
  display: flex;
  align-items: center;
}

.register-card-form-group-radio {
  font-size: 16px;
  color: #263238;
  width: 22px;
  height: 22px;
  margin: 0 6px 0 0;
}
.register-card-form-group-pass_check {
  margin: auto 0;
  font-size: 14px;
  color: #263238;
}

.register-card-attention {
  font-size: 14px;
  color: #455a64;
  margin: 16px 0 5px 0;
}
.register-card-message,
.register-card-setmessage {
  font-size: 14px;
  color: #455a64;
  margin: 0 0 41px 0;
}
.register-card-question {
  font-weight: bold;
  font-size: 20px;
  color: #263238;
  margin: 0 0 11px;
}
.register-card-question br {
  display: none;
}
.register-card-guide {
  display: flex;
  color: #1e88e5;
  font-size: 13px;
  text-decoration: none;
  align-items: center;
}
.register-card-guide-text {
  margin: 0 5px 0 0;
}
.register-card-form-group-guide_check {
  margin: auto;
  font-size: 16px;
  color: #263238;
}

.register-card-form-group-guide_check-item-box,
.register-card-form-group-pass_check-item-box {
  position: relative;
  margin: 0 1rem 0 0;
}
.register-card-form-group-guide_check-item-box:before,
.register-card-form-group-pass_check-item-box:before {
  position: absolute;
  z-index: 1;
  top: 0.125rem;
  left: 0.1875rem;
  width: 0.9rem;
  height: 0.4rem;
  content: "";
  border: 2px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
}
.register-card-form-group-guide_check-item-box:checked::after,
.register-card-form-group-pass_check-item-box:checked::after {
  background-color: #f9a406;
  border: 1px solid #f9a406;
}
.register-card-form-group-guide_check-item-box:checked:before,
.register-card-form-group-pass_check-item-box:checked:before {
  transform: rotate(-45deg) scale(1, 1);
}
.register-card-form-group-guide_check-item-box:after,
.register-card-form-group-pass_check-item-box:after {
  position: absolute;
  top: -0.125rem;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  content: "";
  border: 1px solid #b0bec5;
  border-radius: 4px;
  background: #ffffff;
}

.register-button {
  font-weight: bold;
  margin: 40px auto 0;
  display: flex;
  flex-flow: column;
  text-align: -webkit-center;
}
.register-button-confirm {
  height: 60px;
  font-size: 18px;
  color: #ffffff;
  background-color: #e53935;
  border-radius: 60px;
  margin: 0 0 80px;
  max-width: 360px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.register-button-cancel {
  height: 38px;
  font-size: 14px;
  color: #263238;
  background-color: #ffffff;
  border-radius: 50px;
  max-width: 180px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

/*フッターのスタイル*/
.footer {
  background-color: #2a2e3d;
}
.footer-page_return {
  width: 100%;
  background-color: #ffffff;
  padding: 18px 0 12px 0;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
}
.footer-page_return-text {
  font-size: 14px;
  padding: 0 30px 0 4px;
}

.footer-sns {
  border-top: 5px solid #ffc306;
  text-align: center;
  padding: 25px 0 29px 0;
}
.footer-sns-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}
.footer-sns-header-icon {
  padding: 0 13px;
}

.footer-help {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-help-item {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1px;
  flex: 1 0 24%;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  color: #ffffff;
}
.footer-info {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.footer-info-item {
  font-size: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 25px;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
}
.footer-info-item:first-child {
  border: none;
}

.footer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 41px;
}

.footer-foot-brand {
  width: 1060px;
  margin: 0 auto;
}

.footer-foot-brand-icon {
  padding-bottom: 10px;
}

.footer-foot-brand-copyright {
  color: #cfd8dc;
  font-size: 12px;
}
.footer-foot-search {
  position: fixed;
  bottom: 42px;
  right: 40px;
  width: 80px;
}

/* sp用画面 */
@media screen and (max-width: 800px) {
  .head {
    padding: 6.5px 15px 6.5px 10px;
  }
  .head-left-search {
    display: none;
  }
  .head-left-trouble {
    display: none;
  }
  .head-right {
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    width: 100%;
  }
  .head-right-icon {
    font-size: 8px;
    display: grid;
    text-align: center;
    padding-left: 0px;
  }

  .head-right-icon::before {
    padding-right: 0;
  }
  .header {
    padding: 6.5px 10px;
  }
  .header-left-search {
    display: none;
  }
  .header-left-trouble {
    display: none;
  }
  .header-right-signup,
  .header-right-login,
  .header-right-menu {
    display: block;
  }
  .header-right-signup-icon,
  .header-right-login-icon,
  .header-right-menu-icon {
    margin-left: 8px;
  }
  .header-right-signup-text,
  .header-right-login-text,
  .header-right-menu-text {
    font-size: 8px;
    margin: 0;
  }

  /*ログイン画面のスタイル*/
  .container {
    padding: 60px 0 81px;
  }

  .container-back {
    margin: 15px auto 0;
  }
  .login-text {
    font-size: 18px;
    padding: 0 0 20px 10px;
  }
  .login-form {
    display: block;
    margin: 0 10px;
    padding: 20px 10px 40px;
  }
  .login-form-left {
    padding: 0 0 40px;
    margin: 0 auto;
  }
  .login-form-id-text,
  .login-form-pass-text {
    font-size: 16px;
  }
  .login-form-input {
    font-size: 16px;
    padding: 12.5px 10px;
  }
  .login-form-forgetpass {
    margin-bottom: 30px;
  }
  .login-form-forgetpass-text {
    font-size: 12px;
  }
  .login-form-agree-button {
    font-size: 16px;
    margin: 24px 10px 0;
    height: 44px;
    border-radius: 54px;
    max-width: 315px;
  }
  .login-form-right {
    padding: 40px 0 0;
    border-left: none;
    border-top: 1px solid #cfd8dc;
    margin: 0 auto;
  }
  .login-form-facebook_text {
    margin: 0 0 19px;
    font-size: 16px;
  }
  .login-form-facebook_button {
    font-size: 14px;
    margin: 24px 10px 0;
    height: 44px;
    border-radius: 54px;
    max-width: 315px;
  }
  .login-beginner {
    margin: 39px auto auto;
    width: 59%;
  }
  .login-beginner-title {
    font-size: 16px;
    margin: 0 0 11px;
  }
  .login-beginner-signup {
    border-radius: 20px;
    height: 40px;
    max-width: 220px;
  }
  .login-beginner-text {
    font-size: 12px;
  }

  /*会員情報のスタイル*/
  .register-container {
    padding: 22px 0 40px;
  }
  .login-container-back,
  .register-container-back {
    margin: 0 10px;
  }
  .register-title {
    font-size: 18px;
  }
  .register-stepbar {
    margin: 0 0 19px 0;
  }
  .register-stepbar-box {
    font-size: 12px;
    padding: 17px;
  }
  .box1 {
    border-radius: 4px 0 0 4px;
  }
  .box2::before {
    content: "";
    border-top: 26px solid transparent;
    border-left: 20px solid #546e7a;
    border-bottom: 26px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
  }
  .box2::after {
    content: "";
    border-top: 26px solid transparent;
    border-left: 20px solid #607d8b;
    border-bottom: 26px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
  }
  .box3 {
    border-radius: 0 4px 4px 0;
  }
  .register-input_message {
    font-size: 14px;
    margin: 0 0 11px 10px;
  }
  .necessary_message {
    font-size: 10px;
    padding: 2.5px 7.5px;
  }
  .register-attention_message {
    font-size: 12px;
    text-align: right;
    margin: 0 0 15px 0;
  }

  .card1 {
    padding: 9px 10px 26px;
    margin: 0 0 20px;
  }
  .card2 {
    padding: 15px 10px 20px;
    margin: 0 0 20px;
  }
  .card3 {
    padding: 19px 10px 23px;
    margin: 0 0 20px;
  }
  .card4 {
    padding: 20px 10px;
  }
  .register-card-message {
    font-size: 13px;
    margin: 0 0 16px;
  }
  .register-card-form {
    display: block;
  }

  .register-card-form-group:not(:last-child) {
    margin: 0 0 16px;
  }
  .register-card-form-group-input {
    font-size: 16px;
    padding: 12.5px 10px;
  }
  .register-card-form-group-title {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .register-card-attention {
    font-size: 12px;
    margin: 11px 0 4px 0;
  }
  .register-card-setmessage {
    font-size: 12px;
    margin: 0 0 30px 0;
  }
  .register-card-form-group-pass_check {
    text-align: right;
    margin: 15px 0 0;
  }
  .register-card-question {
    font-size: 18px;
    text-align: center;
    margin: 0 0 17px;
  }
  .register-card-question br {
    display: block;
  }
  .register-card-form-group-guide_check {
    margin: 0 auto 14px;
  }
  .register-card-items {
    display: flex;
    flex-flow: column;
  }
  .register-card-guide {
    margin: auto;
  }
  .register-button {
    margin: 30px auto 0;
  }
  .register-button-confirm {
    height: 44px;
    font-size: 16px;
    border-radius: 54px;
    margin: 0 0 60px;
    max-width: 300px;
  }
  .register-button-cancel {
    height: 36px;
    border-radius: 20px;
    max-width: 160px;
  }

  /*フッターのスタイル*/
  .footer-page_return-text {
    font-size: 12px;
    padding: 0 13px 0 4px;
  }
  .footer-sns {
    background-color: #2a2e3d;
    text-align: center;
    padding: 23px 0 37px 0;
  }
  .footer-sns-header {
    font-size: 12px;
    padding-bottom: 21px;
  }
  .footer-help {
    font-size: 12px;
    padding-bottom: 24px;
  }
  .footer-help-item {
    flex: 1 0 48%;
  }
  .footer-info {
    flex-wrap: wrap;
    padding-bottom: 48px;
  }
  .footer-info-item {
    font-size: 12px;
    flex: 1 0 40%;
    padding: 0 0 19px 19px;
  }
  .footer-info-item:nth-of-type(3) {
    border: none;
  }
  .footer-foot {
    padding: 0 0 45px 18px;
  }
  .footer-foot-brand-copyright {
    font-size: 10px;
  }
  .footer-foot-search {
    right: 15px;
    bottom: 49px;
    width: 60px;
  }
}
