body {
  margin: 0;
}
.wrap {
  overflow: hidden;
}
/*ヘッダーのスタイル*/
.head-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.head-bk {
  background-color: #fff;
  width: 100%;
}
.head {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.head-left {
  display: flex;
  align-items: center;
}
.head-left-icon {
  padding-right: 20px;
}

.head-left-search {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #263238;
  white-space: nowrap;
  padding: 0 20px;
  border-left: 1px solid #cfd8dc;
}
.head-left-trouble {
  color: #1e88e5;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 20px;
  border-left: 1px solid #cfd8dc;
}
.head-right {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.head-right-icon {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #263238;
}
.head-right-icon::before {
  padding-right: 8px;
}
.head-right-signup::before {
  content: url(Icon/head_signupIcon.svg);
}
.head-right-login {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-right-login::before {
  content: url(Icon/loginIcon.svg);
}
.head-right-menu {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-right-menu::before {
  content: url(Icon/menuIcon.svg);
}
.dummy {
  background-color: black;
  height: 1000px;
}

/*ログイン画面のスタイル*/
.login {
  background-color: #eceff1;
  padding: 62px 0 100px;
}
.login-back {
  max-width: 980px;
  margin: 0 auto;
}
.login-text {
  font-weight: bold;
  font-size: 28px;
  color: #2a2e3d;
  padding: 50px 0 38px 0;
  margin: 0;
}
.login-form {
  background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  padding: 50px 60px;
}
.login-form-left {
  display: flex;
  flex-flow: column;
  padding-right: 60px;
  text-align: -webkit-center;
}
.login-form-id {
  margin-bottom: 20px;
}
.login-form-id-text {
  margin: 0 0 6px;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.login-form-pass {
  text-align: left;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.login-form-pass-text {
  margin: 0 0 6px;
  color: #455a64;
  font-weight: bold;
  font-size: 18px;
}
.login-form-input {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  width: 94%;
  font-size: 18px;
  padding: 13.5px 10px;
  margin: 0;
}
.login-form-forgetpass {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.login-form-forgetpass-text {
  color: #607d8b;
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
  text-decoration: none;
}
.login-form-permission {
  font-size: 14px;
}
.login-form-permission-message {
  display: inline-block;
}
.login-form-permission-text {
  color: #1e88e5;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.login-form-agree-button {
  background-color: #f9a406;
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  max-width: 370px;
  color: #ffffff;
  margin: 20px 0 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-form-right {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-left: 60px;
  border-left: 1px solid #cfd8dc;
  text-align: -webkit-center;
}
.login-form-facebook_text {
  font-weight: bold;
  font-size: 18px;
  color: #455a64;
  margin: 0 0 89px;
}
.login-form-facebook_button {
  background-color: #546e7a;
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  color: #ffffff;
  margin: 101px 0 0;
  max-width: 370px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-beginner {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 22.5%;
  margin: 60px auto auto;
  text-align: -webkit-center;
}
.login-beginner-title {
  font-size: 18px;
  color: #263238;
  margin: 0 0 16px;
}
.login-beginner-signup {
  border-radius: 60px;
  white-space: nowrap;
  height: 50px;
  max-width: 240px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #e53935;
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.login-beginner-signup::before {
  content: url(Icon/signupIcon.svg);
  padding-right: 5px;
}
.login-beginner-signup-option {
  font-size: 10px;
  padding-left: 5px;
}
.login-beginner-signup-item-icon {
  padding-right: 10px;
}
.login-beginner-text {
  color: #607d8b;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.login-beginner-text::after {
  content: url(Icon/arrow.svg);
  padding-left: 5px;
}

/*フッターのスタイル*/
.footer {
  background-color: #2a2e3d;
}
.footer-page_return {
  width: 100%;
  background-color: #ffffff;
  padding: 18px 30px 12px 0;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
}
.footer-page_return-text {
  font-size: 14px;
  padding-left: 4px;
}
.footer-bar {
  background-color: #ffc306;
  width: 100%;
  padding-top: 5px;
}
.footer-sns {
  text-align: center;
  padding: 25px 0 29px 0;
}
.footer-sns-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}
.footer-sns-header-icon {
  padding: 0 13px;
}

.footer-help {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-help-item {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1px;
  flex: 1 0 24%;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  color: #ffffff;
}
.footer-info {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.footer-info-item {
  font-size: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 25px;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
}
.footer-info-item:first-child {
  border: none;
}

.footer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 41px;
}

.footer-foot-brand {
  width: 1060px;
  margin: 0 auto;
}

.footer-foot-brand-icon {
  padding-bottom: 10px;
}

.footer-foot-brand-copyright {
  color: #cfd8dc;
  font-size: 12px;
}
.footer-foot-search {
  padding-right: 40px;
}

/* sp用画面 */
@media screen and (max-width: 800px) {
  .head {
    padding: 6.5px 15px 6.5px 10px;
  }
  .head-left-search {
    display: none;
  }
  .head-left-trouble {
    display: none;
  }
  .head-right {
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    width: 100%;
  }
  .head-right-icon {
    font-size: 8px;
    display: grid;
    text-align: center;
    padding-left: 0px;
  }

  .head-right-icon::before {
    padding-right: 0;
  }
  .header {
    padding: 6.5px 10px;
  }
  .header-left-search {
    display: none;
  }
  .header-left-trouble {
    display: none;
  }
  .header-right-signup,
  .header-right-login,
  .header-right-menu {
    display: block;
  }
  .header-right-signup-icon,
  .header-right-login-icon,
  .header-right-menu-icon {
    margin-left: 8px;
  }
  .header-right-signup-text,
  .header-right-login-text,
  .header-right-menu-text {
    font-size: 8px;
    margin: 0;
  }

  /*ログイン画面のスタイル*/
  .login {
    padding: 60px 0 81px;
  }

  .login-back {
    margin: 15px auto 0;
  }
  .login-text {
    font-size: 18px;
    padding: 0 0 20px 10px;
  }
  .login-form {
    display: block;
    margin: 0 10px;
    padding: 20px 10px 40px;
  }
  .login-form-left {
    padding: 0 0 40px;
    margin: 0 auto;
  }
  .login-form-id-text,
  .login-form-pass-text {
    font-size: 16px;
  }
  .login-form-input {
    font-size: 16px;
    padding: 12.5px 10px;
  }
  .login-form-forgetpass {
    margin-bottom: 30px;
  }
  .login-form-forgetpass-text {
    font-size: 12px;
  }
  .login-form-agree-button {
    font-size: 16px;
    margin: 24px 10px 0;
    height: 44px;
    border-radius: 54px;
    max-width: 315px;
  }
  .login-form-right {
    padding: 40px 0 0;
    border-left: none;
    border-top: 1px solid #cfd8dc;
  }
  .login-form-facebook_text {
    margin: 0 0 19px;
    font-size: 16px;
  }
  .login-form-facebook_button {
    font-size: 14px;
    margin: 24px 10px 0;
    height: 44px;
    border-radius: 54px;
    max-width: 315px;
  }
  .login-beginner {
    margin: 39px auto auto;
    width: 59%;
  }
  .login-beginner-title {
    font-size: 16px;
    margin: 0 0 11px;
  }
  .login-beginner-signup {
    border-radius: 20px;
    height: 40px;
    max-width: 220px;
  }
  .login-beginner-text {
    font-size: 12px;
  }

  /*フッターのスタイル*/
  .footer-page_return-text {
    font-size: 12px;
  }
  .footer-sns {
    background-color: #2a2e3d;
    text-align: center;
    padding: 23px 0 37px 0;
  }
  .footer-sns-header {
    font-size: 12px;
    padding-bottom: 21px;
  }
  .footer-help {
    font-size: 12px;
    padding-bottom: 24px;
  }
  .footer-help-item {
    flex: 1 0 48%;
  }
  .footer-info {
    flex-wrap: wrap;
    padding-bottom: 48px;
  }
  .footer-info-item {
    font-size: 12px;
    flex: 1 0 40%;
    padding: 0 0 19px 19px;
  }
  .footer-info-item:nth-of-type(3) {
    border: none;
  }
  .footer-foot {
    padding: 0 0 45px 18px;
  }
  .footer-foot-search {
    display: none;
  }
  .footer-foot-brand-copyright {
    font-size: 10px;
  }
}
